.btc-sign:before {
    position: absolute;
    content: "₿";
    left: 10px;
    font-size: 24px;
    line-height: 80px;
    color: #000;
  }

  .ars-sign:before {
    position: absolute;
    content: "$";
    left: 10px;
    font-size: 24px;
    line-height: 80px;
    color: #000;
  }

  #Criptomoneda-2, #Moneda-2 {
    padding-left: 30px;
  }

  #Criptomoneda-2::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
  }

  #Criptomoneda-2:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #000;
  }

  #Criptomoneda-2::-ms-input-placeholder { /* Microsoft Edge */
    color: #000;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .sectionmovimientos.movimientos {
    min-height: 100vh;
    height: 100%;
  }

  .submit-button-3-home:disabled, .submit-button-3:disabled {
    background: #dddddd;
  }

  .fecha-box {
    margin-top: 5px;
  }

  .PhoneInputCountryIcon {
    height: auto !important;
  }

  .PhoneInputCountryIcon--border {
    box-shadow: none !important;
    background: transparent !important;
  }

  .phonebox {
    margin: 30px;
    margin-left:0px;
  }

  .divsuccess-2 {
    margin-top: 0;
  }

  .section-8 iframe{
    width:100%;
    height:100%;
  }
  .panel {
    width: 200px;
    height: 100px;
    background: green;
    margin-top: 10px;
}

.example-enter {
    height: 0px;
}

.example-enter.example-enter-active {
    height: 100px;
    -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
    height: 0px;
    -webkit-transition: height .3s ease;
}
  